server {
       listen 80;
#       listen [::]:80;

       server_name {{ dolibarr_fqdn }};
       return 301 https://$server_name$request_uri;
}

server {
       listen 443;
#       listen [::]:443;

       server_name {{ dolibarr_fqdn }};
       ssl on;
       ssl_certificate /etc/nginx/certs/dolibarr.crt;
       ssl_certificate_key /etc/nginx/certs/dolibarr.key;

       root /var/www/dolibarr-{{ dolibarr_version }}/htdocs;

       fastcgi_buffers 64 4K;

       index index.php;

       location ~ ^/(data|config|\.ht|db_structure\.xml|README) {
                deny all;
        }

        location / {
                try_files $uri $uri/ index.php;
        }

        location ~ ^(.+?\.php)(/.*)?$ {
                try_files $1 = 404;

                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root$1;
                fastcgi_param PATH_INFO $2;
		fastcgi_read_timeout 300;
#                fastcgi_param HTTPS on;
                fastcgi_pass 127.0.0.1:8000;
        }

        # Optional: set long EXPIRES header on static assets
        location ~* ^.+\.(jpg|jpeg|gif|bmp|ico|png|css|js|swf)$ {
                expires 30d;
                # Optional: Don't log access to assets
                access_log off;
        }
}
